# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Environment Variables
# ==============================
.env
*.env

# ==============================
# SQLite Database
# ==============================
*.db
*.sqlite3

# ==============================
# Google Credentials
# ==============================
*.json

# ==============================
# VSCode / Editors
# ==============================
.vscode/
.idea/

# ==============================
# Streamlit cache
# ==============================
.streamlit/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db